  .nav {
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
    padding: 9px;
  }

  .nav__logo {
    width: 150px;
  }

  #navList {
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    position: fixed;
    top: 100px;
    right: -300px;
    width: 250PX;
    background-color: white;
    padding: 20px 0px 0px 10px;
    z-index: 10;
  }

  #navList.active {
    top: 56px;
    right: 0px;
  }

  .nav__item {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav__item:hover {
    background-color: #fbdbbc;
    color: black;
    border-radius: 14px;
  }

  .nav__item_active {
    background-color: #fbdbbc;
    color: black;
    border-radius: 14px;
    text-decoration: none;
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav__btn {
    display: block;
  }

  .nav__btn i {
    font-size: 2rem;
    cursor: pointer;
  }

  
  @media screen and (min-width: 1200px) {

    .nav {
      border-bottom: 1px solid lightgray;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #navList {
      flex-direction: row;
      justify-content: space-around;
      position: unset;
      width: 30vw;
      transition: 0.3s ease-in-out;
    }

    .nav__btn{
      display: none;
    }

    .nav__logo {
      width: 330px;
    }
  }
